<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lyft - clone</title>
    <!-- icons -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- css materializa -->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/main.css">
    <!-- para visualizacion en diferentes dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <section>
      <video autoplay="autoplay" loop="loop" class="video_background" preload="auto" muted/>
        <source src="../assets/img/video1.mp4" type="video/mp4" />
      </video/>
    </section>
    <section class="container-fluid displayFlex">
          <img class="imagenLogo" src="../assets/img/logo-pink.png" alt="lyft">
    </section>
    <section class="  displayFlex position container-fluid">
        <div class="row">
          <div class="col s6 col m6">
            <button class="btn btn-large boton botonIzquierdo">Log in</button>
          </div>
          <div class="col s6 col m6">
            <button class="btn btn-large boton botonDerecho">Sign up</button>
          </div>
        </div>
    </section>


    <!-- jquery y  js de materialize -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <!-- <script type="text/javascript" src="../js/js"></script> -->
  </body>
</html>
